# Domain name
DOMAIN_NAME=example.com

# Username used for basic auth
DASHBOARD_USERNAME=admin

# Password used for basic auth
# - Hashed with bcrypt
# - Every $ should be doubled
DASHBOARD_PASSWORD=$2y$10$0hnDF1Mn.TzwXF6ederxP.SDOIOrQR1I4ZBBA0fRAfXu5Xth6Rf.C # hashed `admin` 
